{% extends 'base.html' %}
{% block head %}
{% endblock %}
{%block body%}


  <div class="row">
      <div class="col-sm-12">
          <h3>All Producers</h3>
      </div>
{% for profile in profiles %}
              <div class="col-sm-4 col-lg-2">
                  <div class="thumbnail">
                      <div class="caption">
                          <p><a href="/account/product_detail/{{Product.id}}" product.id>Username: {{ profile.company }}</a></p>
                          <p>Country: {{ profile.country }}</p>

                      </div>
                  </div>
              </div>
              {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
          {% endfor %}

  </div>
{%endblock%}
