{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
  <form class = "form-group" method="post">
  {% csrf_token %}
  <h1>Personal details</h1>
  <div class="form-row">
    <div class="form-group col-md-6">
      <p>Username</p>{{form.username}}
    </div>
    <div class="form-group col-md-6">
      <p>E-mail</p>{{form.email}}
    </div>
  </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <p>First name</p>{{form.first_name}}
      </div>
      <div class="form-group col-md-6">
        <p>Last name</p>{{form.last_name}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Password</p>{{form.password1}}
      </div>
      <div class="form-group col-md-6">
        <p>Repeat Password</p>{{form.password2}}
      </div>
    </div>
    <h1>Company Information</h1>
    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Country</p>{{form.country}}
      </div>
      <div class="form-group col-md-6">
        <p>City</p>{{form.city}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Address 1</p>{{form.address1}}
      </div>
      <div class="form-group col-md-6">
        <p>Address 2</p>{{form.address2}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Website</p>{{form.website}}
      </div>
      <div class="form-group col-md-6">
        <p>Phone</p>{{form.phone}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Company name</p>{{form.company}}
      </div>
      <div class="form-group col-md-6">
        <p>Role</p>{{form.role}}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Postcode</p>{{form.postcode}}
      </div>
      <div class="form-group col-md-6">
        <p>State</p>{{form.state}}
      </div>
    </div>
      <div class="form-row">


      <div class="form-group col-md-6">
        <button class="btn btn-default" type="btn btn-default">Submit</button>
        <button class="btn btn-default" onclick="goBack()">Go Back</button>
      </div>
    </div>
</div>


</form>

{% endblock %}
