h1 {
    color: black !important;
}


.jumbotron {
  background: white url("../images/IMG_3962.JPG");
  background-size: 100%;
  background-position: center center;
}

body {
  background-color: #f8f9fa!important;
}
